:root {
    --main-color1: #26a1ff;
    --main-color2: #6e26ff;
}

* {
    padding: 0;
    margin: 0;
}

a {
    color: unset;
    text-decoration: unset;
}

/*** BODY ***/
body {
    font-family: 'Roboto';
}

/*** INPUT, BUTTON ***/
input,
button {
    user-select: none;
}

/*** MAIN ***/
main {
    margin: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*** SECTION ***/
section {}

/*** H1 ***/
h1{
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}

/*** H2 ***/

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

/*** HEADER ***/
header {
    box-shadow: 0 0 8px 0px #000;
}

.header-title {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.header-title>hr {
    width: 100%;
    background-color: black;
}

.header-title>h1>a:any-link {
    color: transparent;
}

.header-title>h1 {
    padding: 0 16px;
    font-size: 48px;
    background: linear-gradient(45deg, var(--main-color1), var(--main-color2));
    -webkit-background-clip: text;
    color: transparent;
    text-shadow:
        -16px -16px 72px var(--main-color1),
        16px 16px 72px var(--main-color2);
}

.header-menu {
    height: 64px;
    display: flex;
    justify-content: center;
    padding: 0 0 8px 0;
}

.cart {
    position: absolute;
    right: 64px;
    display: flex;
    height: 72px;
    align-items: center;
}

.cart-button {
    background: transparent;
    border: none;
    font-size: 36px !important;
    height: 36px;
}

.cart-button:hover {
    cursor: pointer;
}

.search {
    display: flex;
    align-items: center;
}

.search-input {
    outline: none;
    border: 2px solid #000;
    border-radius: 24px;
    padding: 8px;
    font-size: 20px;
    margin: 0 8px;
}

.search-button {
    background-color: transparent;
    outline: none;
    border: 2px solid #000;
    padding: 4px;
    border-radius: 32px;
    font-size: 32px !important;
    transition: background-color 200ms;
}

.search-button:hover {
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

/*** FOOTER ***/
footer {
    background-color: #222;
    color: #aaa;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*** SECTION - PROMOCJE ***/
.promocje {
    width: 80%;
}

.promocje-cards {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.promocje-card {
    justify-content: center;
    border: 2px solid black;
    text-align: center;
    transition: box-shadow .3s;
    cursor: pointer;
    border-radius: 16px;
    position: relative;
}

.promocje-card-opis {
    padding-bottom: 10px;
}

.promocje-card-price-old {
    text-decoration: line-through;
    font-size: 26px;
}

.promocje-card-price-new {
    color: red;
    font-weight: bold;
    font-size: 36px;
}

.promocje-card-title {
    font-size: 36px;
    font-weight: bold;
}

.promocje-card-title-small {
    font-size: 30px;
    font-weight: bold;
}

.promocje-card-price-small {
    font-size: 30px;
    font-weight: bold;
    color: gray;
}

.promocje-card:hover {
    box-shadow:
        -16px -16px 64px -24px var(--main-color1),
        16px 16px 64px -24px var(--main-color2);
    background: 
        linear-gradient(white, white) padding-box,
        linear-gradient(45deg, var(--main-color1), var(--main-color2)) border-box;
    border-radius: 16px;
    border: 2px solid transparent;
}

.promocje-card-image .promocje-cars {
    width: 100%;
    flex-shrink: 8;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 1px solid #999;
}

.sale {
    width: 100px;
}

.img-sale {
    width: 100px;
    position: absolute;
    top: 2px;
    right: 2px;
}

/*** SECTION - OGÅOSZENIA ***/
.ogloszenia {
    margin-top: 50px;
    width: 80%;
}

.ogloszenia-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 50px;
}

.ogloszenia-card {
    justify-content: center;
    border: 2px solid black;
    text-align: center;
    transition: box-shadow .3s;
    cursor: pointer;
    border-radius: 16px;
}

.ogloszenia-card-opis {
    padding-bottom: 10px;
}

.ogloszenia-card-price-old {
    text-decoration: line-through;
    font-size: 26px;
}

.ogloszenia-card-price-new {
    color: red;
    font-weight: bold;
    font-size: 36px;
}

.ogloszenia-card-title {
    font-size: 36px;
    font-weight: bold;
}

.ogloszenia-card-title-small {
    font-size: 30px;
    font-weight: bold;
}

.ogloszenia-card-price-small {
    font-size: 30px;
    font-weight: bold;
    color: gray;
}

.ogloszenia-card:hover {
    box-shadow:
        -16px -16px 64px -24px var(--main-color1),
        16px 16px 64px -24px var(--main-color2);
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(45deg, var(--main-color1), var(--main-color2)) border-box;
    border-radius: 16px;
    border: 2px solid transparent;
}

.ogloszenia-card-image .ogloszenia-cars {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 1px solid #999;
}

/*** SECTION - NIEZNALEZIONO ***/
.nieZnaleziono{
}


.nieZnaleziono>h2{
    margin-top: 50px;
    margin-bottom: 50px;
}

.nieZnaleziono a{
    text-decoration: underline;
}
.nieZnaleziono>div{
    display: flex;
    justify-content: center;
}

/*** SECTION - OGLOSZENIE ***/
.ogloszenie{
    width: 80%;
    display: flex;
}

.informacje{
    width: 70%;
}

.informacje h2{
    text-align: left;
    margin-top: 30px;
}

.zdjecie-ogloszenie{
    width: 100%;
}

.ogloszenie-aside{
    width: 30%;
    padding-left: 32px;
}

.ogloszenie-aside h2{
    text-align: left;
}

.ogloszenie-cena{
    color: red;
    margin-top: 30px;
}

.ogloszenie-aside p{
    font-size: 24px;
}

.ogloszenie-aside p:first-letter {
    text-transform: uppercase;
}

.informacje table{
    margin-top: 30px;
    font-size: 24px;
    width: 70%;
    border-collapse: collapse; 
}

.informacje tr{
    border-bottom: 1px solid #999;
}

.informacje td{
    padding: 8px;
}