* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto';
}

/*** MAIN ***/
main{
    margin: 100px 0 100px 0;
}

/*** HEADER ***/
header {
    box-shadow: 0 0 8px 0px #222;
}

.headerTitle {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.headerTitle>hr {
    width: 100%;
    background-color: black;
}

.headerTitle>h1>a:any-link {
    color: transparent;
}

.headerTitle>h1 {
    padding: 0 16px;
    font-size: 48px;
    background: linear-gradient(45deg, #26a1ff, #6e26ff);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow:
        -16px -16px 72px #26a1ff,
        16px 16px 72px #6e26ff;
}

.headerMenu {
    height: 36px;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 32px 16px 32px;
}

.cart {
    background: transparent;
    border: none;
    font-size: 36px !important;
}

/*** FOOTER ***/
footer {
    background-color: #222;
    color: #aaa;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}